* @soniyaBisht @SanthoshKumar-Prodapt

apps/ @DimaDavydenko @stanislav-ostapenko @soniyaBisht @SanthoshKumar-Prodapt @srinivasan-ayyasamy @nffigueroa-prodapt @rajneeshprodapt @Anand280791 @thirumalai-prodapt @shraddha993

libs/ @DimaDavydenko @stanislav-ostapenko @soniyaBisht @SanthoshKumar-Prodapt @srinivasan-ayyasamy @nffigueroa-prodapt @rajneeshprodapt @Anand280791 @thirumalai-prodapt @shraddha993

#UI library
libs/shared/ui-library @srinivasan-ayyasamy @Anand280791 @sethuramalingam213 @Ramakrishna-Prodapt @radoje-vujasevic-prodapt

**e2e* @prasannahs @Sai-Jyothi-A @salma4429 @baluprodapt

devops/ @soniyaBisht @SanthoshKumar-Prodapt  @Dhilipsinghg @Nayak-lipika @SanthoshKumar-Prodapt @Basha534
